*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}


#sam img{ 
   
    width: 1260px;
    height: 565px;
    

}


.snowflake {
    position: fixed;
    top: -10px;
    color: #fff;
    font-size: 8px;
    user-select: none;
    pointer-events: none;